*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-align: center;
}
h1, p{
    margin: 20px 0;
}
#chartContainer {
    width: 80vw; 
    height: 50vh; 
    max-width: 800px; 
    max-height: 500px;
    margin: 40px auto;
}
canvas {
    height: 100% !important;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #218838;
}