* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NavBar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: white;
  position: relative;
  box-shadow: 5px 0px 5px #020f0345;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  list-style: none;
}
.nav-links li a {
  color: rgb(4, 44, 9);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition: color 0.5s ease;
}
.nav-links li a:hover,
.nav-links li a.active {
  color: rgb(80, 219, 52);
}
.logo {
  width: 100px;
}
.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(4, 44, 9);
  transition: transform 0.5s ease-in-out;
}
.menu-toggle:hover{
  transform: scale(1.1);
}

/* FontAwesome Closing icon */
.menu-toggle.active i::before {
  content: "\f00d"; 
  font-size: 28px;
  color: rgb(229, 134, 33);
}

/* Hero Section */
.hero {
  background-image: url(IMAGES/back3.jpg);
  height: 80vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 20px;
}
.btn { 
  display: inline-block;
  background-color: #1c9524;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(250, 245, 245);
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(7, 68, 31);
  color: rgb(255, 255, 255);
}

.text-background {
  background-color: rgba(244, 240, 242, 0.678);
  width: auto;
  height: auto;
  padding: 2rem;
  border-radius: 20px;
}

.hero h1 {
  font-size: 1.5rem;
  color: #1c9524;
}

.hero p {
  font-size: 1rem;
  color: #052b08;
  margin-bottom: 2rem;
}

/* About Section */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.about-content {
  flex: 1;
  max-width: 600px;
}
.about-content h2 {
  color: #156c23;
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.about-content p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 16px;
}
.about-content ul {
  list-style: none;
  padding: 0;
}
.about-content ul li {
  background: #e8f5e9;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.about-content ul li::before {
  content: "✔";
  color: #21d62d;
  font-weight: bold;
  margin-right: 10px;
}
.about-video {
  flex: 1;
  text-align: center;
}
.about-video video {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Products Section */
.products {
  text-align: center;
  padding: 50px 20px;
  color: #1c9524;
  font-size: 20px;
}

.feature-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem 1rem;
  background-color: white;
}

.feature {
  width: calc(100% / 3 - 1rem);
  min-width: 200px;
  padding: 1rem;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 6px 6px 10px rgba(38, 85, 6, 0.183);
  background-color: rgb(255, 255, 255);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.feature:hover {
  transform: scale(1.03);
}

.feature img {
  width: 80%;
  border-radius: 15px;
  object-fit: cover;
}

.feature h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #052b08;
}

.feature p {
  font-size: 15px;
}

/* Call to Action */
.cta {
  text-align: center;
  padding: 40px;
  background: linear-gradient(135deg, #06690e, #0a8c1a, #06690e);
  color: white;
}
.cta button {
  padding: 10px 20px;
  border: none;
  background: white;
  color: #13761f;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.cta button:hover {
  background-color: rgb(7, 68, 31);
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}
/* Contact */
.contact {
  background-image: url("IMAGES/farm.jpg");
  padding: 30px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.contact h2, .contact h3,
.contact p, .contact-form, .social-links, iframe{
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-size: 3rem;
  text-align: center;
  margin: 10px 0;
}
.contact p {
  font-size: 1.1rem;
  color: white;
  margin: 10px 0;
}
.social-links {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}
.social-links a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.social-links a:hover {
  color: #6dde71;
}
.map {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}


/* footer */
.footer {
  background-color: white;
  color: #0f640c;
  padding: 1rem;
  text-align: center;
}
.footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer-nav ul li a {
  text-decoration: none;
  color: #167119;
  font-size: 14.6px;
  font-weight: 600;
}
.footer-nav ul li a:hover {
  color: #091a01;
}
.footer p { 
  font-size: 14px;
  margin: 0;
  padding: 10px;
  color: #066e0d;
}

/* livestock and crop */

#add-animal,
#crop {
  padding: 48px;
  background-color: #fff;
  text-align: center;
}

#add-animal h1,
#crop h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #4caf50;
  margin-bottom: 16px;
}

#add-animal h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #4caf50;
  margin-bottom: 24px;
}

#add-animal p,
#crop p {
  font-size: 1.1rem;
  color: #000;
  margin-bottom: 32px;
}

.livestock-images {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.livestock-images img {
  width: 300px;
  border-radius: 8px;
  object-fit: cover;
  border: 3px solid rgb(4, 49, 4);
}
.livestock-form,
.crop-form {
  background-color: rgba(157, 231, 177, 0.678);
  box-shadow: 3px 3px 7px rgba(41, 92, 7, 0.523);
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
}
.livestock-form form,
.crop-form form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
.livestock-form form label,
.crop-form form label {
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
  color: #000;
}
.livestock-form form select,
.livestock-form form input,
.crop-form form select,
.crop-form form input {
  width: 100%;
  padding: 14px;
  margin-top: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.livestock-form button,
.crop-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 5px;
  font-size: 16px;
  width: 160px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.livestock-form button:hover,
.crop-form button:hover {
  background-color: #45a049;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 0;
    background: white;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.557);
    padding: 10px 10px 20px 10px;
    z-index: 10;
  }
  .nav-links li{
    width: 100%;
  }
  .nav-links li a{
    text-align: center;
    display: block;
    width: 100%;
    padding: 5px;
  }
  .nav-links li a:hover{
    background-color: #c7fbd275;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .about-section {
    flex-direction: column;
    text-align: center;
}

.about-content, .about-video {
    max-width: 100%;
}
  /* home-page */
  
  .feature {
    width: 100%;
  }
  
  .feature img {
    width: 100%;
  } 
  
  /* livestock and crop */
  .livestock-images {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
  }
  .livestock-images img{
    width: 100%;
  }
  .livestock-form,
  .crop-form {
    width: 100%;
  }
  .livestock-form form select,
  .livestock-form form input,
  .crop-form form select,
  .crop-form form input {
    padding: 10px;
    font-size: 0.8rem;
  }
  .livestock-form button,
  .crop-form button {
    padding: 10px 20px;
    margin-top: 16px;
    font-size: 16px;
  }
}
